<script type="text/x-handlebars-template" id="root-main-template">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1><img src="/images/wonka-hat.png" style="height: 50px; margin-top: -10px;"> Wonka.js candies repository</h1>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="main-container">
    <div id="sub-container" class="container"></div>
  </div>
</script>
