<script type="text/x-handlebars-template" id="root-main-template">
  <div class="wjs-header">
    <h1>
      <p>Candies for <img src="/images/wonka-320.png" style="height:90px;"></p>
    </h1>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Candies</a>
      <ul class="nav">
        <li><a href="http://www.wonkajs.com">WonkaJS</a></li>
      </ul>
    </div>
  </div>
  <div id="main-container" class="hero-unit container-fluid">
    <div id="sub-container">
    </div>
  </div>
</script>
    <div style="display:none">
      <div id="new-candy"></div>
    </div>
