<script type="text/x-handlebars-template" id="root-main-template">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Candies</a>
        <ul class="nav">
          <li><a href="http://www.wonkajs.com">WonkaJS</a></li>
      </div>
      </ul>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <div class="row">
        <br>
        <div class="span">
          <h1>
            <p>Candies for <img src="/images/wonka-320.png" style="height:90px;"></p>
          </h1>
          <p class="slogan">
            Enhance your experience developing small or very large frontend projects with elegance.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="main-container" class="hero-unit container-fluid">
    <div id="sub-container" class="container"></div>
  </div>
</script>
