<div class="well span7">
  <form class="form-horizontal" name="signin">
    <div class="control-group">
      <label for="email" class="control-label">Email</label>
      <div class="controls">
        <input id="email" name="email" ng-model="email" type="email" required>
        <span class="error" ng-show="signin.email.$error.required">required!</span>
        <span class="error" ng-show="signin.email.$error.email">invalid email</span>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">Name</label>
      <div class="controls">
        <input id="name" name="name" ng-model="name" type="text" required>
        <span class="error" ng-show="signin.name.$error.required">required!</span>
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">Password</label>
      <div class="controls">
        <input id="password" name="password" ng-model="password" ng-change="match()" type="password" required>
        <span class="error" ng-show="signin.password.$error.required">required!</span>
      </div>
    </div>
    <div class="control-group">
      <label for="confirm" class="control-label">Confirm</label>
      <div class="controls">
        <input id="confirm" name="conf" ng-model="conf" type="password" ng-change="match()" required>
        <span class="error" ng-show="signin.conf.$error.match">do not match!</span>
      </div>
    </div>
    <div class="control-group">
      <div class="text-right">
        <button class="btn btn-primary" ng-disabled=" !signin.$valid " ng-click="submit()">Create</button>
      </div>
    </div>
  </form>
  {{ signin.$valid }}
  {{signin.conf.$error.match}}
</div>